<h1>Admin-Bereich</h1>
<button type="button" class="myGoldButton">
  <%= link_to "Benutzerkonto erstellen", new_user_path %>
</button><br />
<button type="button" class="myGoldButton">
  <%= link_to "Benutzerkonto löschen", userindex_path %>
</button><br />
<button type="button" class="myGoldButton">
  <%= link_to "Gruppenverwaltung", groupadmin_path %>
</button><br />
<div id="abstand"></div>
<button type="button" class="myBlueButton"><%= back_to_select %></button>