<h2>Herzlich Willkommen in der virtuellen Wunschkkiste!</h2>
<center><p>
Ein kleiner Hinweis f체r alle externen Besucher: Die Wunschkiste l채uft im Moment im Testbtrieb und ist auf einen kleinen Nutzerkreis beschr채nkt. Die Zugangsdaten muss man haben. Es gibt (noch) keinen Weg, 체ber den man sich selbst anmelden und das System nutzen kann. 
</p>


  <button type="button" class="myBlueButton">
  <%= link_to "Anmelden", login_path %>
  </button>
</center>